# Ignore everything by default
*

# Unignore these specific files and folders
!/.gitignore
!nvim/
!tmux/
!wezterm/
!README.md
!bash/
!vim/

# Ensure all contents of the folders are also unignored
!nvim/**
!tmux/**
!wezterm/**
!bash/**

# Log files
*.log
